<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f| %>
  <div class="newsletter color-1">
    <div class="inner-page row">
      <div class="col-md-4 ">
        <h4> Get notified when we launch!</h4>
        <h5>Enter your email address to receive a 25% lifetime discount at launch.</h5>
      </div>
      <div class="col-md-6">
        <%= f.error_notification %>
        <%= f.input :email, :class=> 'subscribe', :placeholder => 'your@email.com' %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Nofity Me!", :class => "btn btn-warning pull-right btn-block", :id => 'invitation_button' %>
      </div>
    </div>
  </div> 
  
<% end %>
