  <!-- About page -->
 <div id="about" class="page color-4">
    <div class="row inner-page">
      <div class="col-md-6  lazy-container">
        <img class="figurette lazy" src="../assets/pixel.png" data-original="../assets/green-office.png" alt="Our workspace" />
      </div>
      <div class="col-md-6">
        <h3>Who is behind ISawWho?</h3>
        <p class="lead">
          Hardware by Amazon, software by Swashfly.
        </p>
        <p>
          Swashfly is a software company based in Melbourne, Australia. We specialise in delivering hosted practice management solutions. The software is hosted and managed on physical infrastructure in Amazon's secure data centers. 
        </p>
      </div>
    </div> <!-- /row inner page -->

</div> <!-- /#about -->