  <!-- Feature page-->
  <div id="features" class="page color-4">
    <div class="inner-page">
        <h2 class="page-headline">Why should you choose <strong>ISawWho</strong>?</h2>
    </div>

    <div class="inner-page row">
        <ul class="features list-inline">
  	      <li>

  	        <h3><i class="fa fa-smile-o"></i> Smart business</h3>
  	        <p>
              <strong>ISawWho</strong> is web based "software as a service".  This means you have no upfront capital costs, nothing to install, no servers to maintain and no IT skills required. </p><br><p>For a small monthly fee (likely to be fully tax deductable) <strong>ISawWho</strong> feels like having an assistant. It will pay for itself over and over again. We offer a 30 day free trial and there is no contract. <strong>It's completely risk free!</strong> 
			      </p>
  	      </li>
          <li>
            <h3><i class="fa fa-clock-o"></i> More client time</h3> 
            <p>
              <strong>ISawWho</strong> is a "lean mean" business tool that streamlines key administration tasks so you can focus on looking after your clients. <strong>ISawWho</strong> enables you to easily lookup and record key information on the fly from any web enabled device.
            </p><br>
            <p>
              Our continued success is entirely dependent on your continued success. So we are constantly taking feedback from our customers to improve <strong>ISawWho</strong>.
            </p>
          </li>
          <li>
            <h3><i class="fa fa-lock"></i> Secure data </h3>
            <p>
              Most of us dont worry about data security until its too late. Very few people diligiently backup their data every day or  even every week.
            </p><br>
            <p>
              With <strong>ISawWho</strong> your data is backed up daily. No one but you or your authorized staff can access your data. We never see or keep your credit card details, these are encrypted and stored by a PCI compliant Payment Gateway.
            </p>
          </li>
        </ul>
    </div>
  </div> <!-- /#features -->