<!-- The footer, social media icons, and copyright -->
  <footer class="page color-5">
	  <%= debug(params) if Rails.env.development? %>

    <div class="inner-page row">
      <div class="col-md-6 social">

        <a href="#contact"><i class="fa fa-linkedin"></i></a> 
        <a href="#contact"><i class="fa fa-twitter"></i></a>
        <a href="#contact"><i class="fa fa-facebook"></i></a>

      </div>
      <div class="col-md-6 text-right copyright">
        &copy; 2014 <a href="http://swashfly.com" title="twitter bootstrap themes">swashfly.com</a> | all rights reserved | <a href="#top" title="Got to top" class="scroll">To top <i class="fa fa-caret-up"></i></a>
      </div>
    </div>
  </footer>