<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-reorder"></i>
      </button>
      <a href="/"><img class="brand img-responsive" src="../assets/white.png" alt="I Saw Who"></a>
    </div>
    <div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a title="Home page" class="scroll brand-1" href="#home">Home</a></li>
        <li><a title="Check out our awesome services" href="#features" class=" scroll brand-4">Features</a></li>
 <!-- <li><a data-toggle="modal" href="#request-invite" class="scroll brand-2 raife">Plans</a></li> -->
        <li><a title="Who we are" href="#about" class="scroll fadeto brand-4"> About us</a></li>
      </ul>
    </div>
  </div><!-- /.navbar-container -->
</nav>