      <h2 class="page-headline large">Simple Practice Management for Physiotherapists.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-8 col-md-push-4 lazy-container">
		  <h2>Track everything on the fly!</h2>
        <img class="lazy" alt="Looks great on every device" src="../assets/pixel.png" data-original="../assets/laptop.png" />
      </div>
      <div class="col-md-4 col-md-pull-8">
        <ul class="big-list">
	        <li><i class="fa fa-tablet"></i>Mobile access</li>
      		<li><i class="fa fa-user"></i>Client details</li>
  	       <li><i class="fa fa-calendar"></i>Consultations</li>
  	      <li><i class="fa fa-dollar"></i>Payment history</li>
          <li><i class="fa fa-lock"></i>Secure</li>	        
          <li><i class="fa fa-cloud"></i>No installation</li>
        </ul>
        <br />
        <a href="#features" title="Check out more freatures!" class="scroll btn btn-primary btn-centered"><i class="fa fa-caret-down"></i> Learn more</a>
      </div>
    </div>
  </div> <!-- /#home -->

  <!-- tag line -->
  <div class="color-2 visible-lg">
    <div class="row inner-page">
      <div class="col-md-12">
        <h2 class="pull-left">More billable client time + Less administration = Better Business</h2>

      </div>
    </div>
  </div> <!-- /.tag line -->